.User-list {
  list-style: none;
}

.Avatar {
  text-align: center;  
}

.Avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Avatar h4 {
  text-transform: capitalize;
  color: red;
}

.Avatar h5 {
  color: yellow;
}

.columns {
  columns: 4;
  height: 100vh;
  column-fill:auto;
}
body {
  color: red;
}

span{
  font-size: 20px;
}